/* Just need to figure out how to center my content now */
body {
    max-width: 900px;
    font-family: 'Oswald', sans-serif;
}
header {
    text-align: center;
    opacity: 75%;
    background: linear-gradient(90deg, rgba(11,4,125,1) 0%, rgba(8,98,172,1) 50%, rgba(11,157,187,1) 100%);
}
form {
    margin-top: 15px;
}
fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid #0862ac;
    border-radius: 5px;
    box-shadow: 6px 6px 7px black;
    background-color: rgba(144,144,144, .75)
    /* opacity: 75%; */
}
label {
    font-weight: 900;
}
input {
    border-radius: 5px;
    min-width: 200px;
}
textarea {
    border-radius: 5px;
    min-width: 200px;
}
label {
    margin-bottom: 2px;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-image: url("../images/sunrise-612x612.jpg");
    background-size: 100% 100%;
}
#radioBtns {
    display: inline;
}
input.radio1, input.radio2, input.radio3 {
    margin-left: 5px;
}
legend {
    background-color: #0862ac;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.entryLog {
    margin-left: 30px;
    color: white;
    width: 300px;
    height: 500px;
    overflow: scroll;
    margin-top: 35px;
    margin-bottom: 30px;
    background-color: rgba(0,0,0, .70);
    padding: 0 15px 15px 15px;
    border: 2px solid #0862ac;
    border-radius: 5px;
}
.saveEntry__btn {
    max-width: 200px;
    margin: 15px 0 0 45px;
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: bold;
}
.saveEntry__btn:hover {
    background-color: #0862ac;
    border: 2px solid #fafafa;
    color: white;
}
/* TODO: Figure out why I can't move position for edit/delete buttons */
.dynamicBtn__container {
    display: flex;
    justify-content: space-around;
}
.deleteBtn {
    margin-left: 5px;
    margin-right: 210px;
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.deleteBtn:hover {
    background-color: #0862ac;
    border: 2px solid #fafafa;
    color: white;
}
.editBtn {
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5px;
    font-weight: bold;
}
.editBtn:hover {
    background-color: #0862ac;
    border: 2px solid #fafafa;
    color: white;
}
.dynamicContent__container {
    padding: 0 0 15px 0;
    border-bottom: 2px solid grey;
}
.dynamicContent__container:last-of-type {
    border-bottom: none;
}